form {
    margin-bottom: 1rem;
}

input {
    border: none;
    background-color: #0e131b;
    color: #E6E8E6;
}

.input {
    display: block;
    width: 99vw;
}

.name, .email {
    height: 2rem;
}

.message {
    padding-bottom: 10rem;
}