form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

h1 {
    text-align: center;
}

input {
    border: none;
    background-color: #0e131b;
    color: #E6E8E6;
}

input[name=name],
input[name=email],
input[name=message] {
    display: block;
    width: 99vw;
    max-width: 600px;
}

input[name=name],
input[name=email] {
    height: 2rem;
}

input[name=message] {
    padding-bottom: 10rem;
}

input[type=submit] {
    border: 3px solid #0e131b;
}

input[type=submit]:hover {
    border: 3px solid #161e2b;
}