

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceDown {
    0% {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

@keyframes lightUpFast {
    0% {opacity: .1}
    25% {opacity: 1}
    100% {opacity: .1}
}

@keyframes lightUp {
    0% {opacity: .1}
    50% {opacity: 1}
    100% {opacity: .1}
}

@keyframes lightUpSlow {
    0% {opacity: .1}
    75% {opacity: 1}
    100% {opacity: .1}
}
#intro {
    padding-top: 20vh;
    height: 100vh;
    width: 100vw;
    margin: -12px 0 0 -8px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/Intro-background.jpg");
    background-size: cover;
}
#greeting {
    animation: 1s ease slideInFromLeft;
    font-size: xx-large;
    display: block;
}

#name {
    animation: .75s ease slideInFromLeft;
    color: #BB342F;
    font-size: 10vw;
    display: block;
}

#traits {
    animation: 1s ease slideInFromBottom;
    color: #e6e8e67e;
    display: block;
}

#arrows {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    animation: 1.5s ease bounceDown infinite;
    font-size: 1.2rem;
    padding-left: 50%;
    padding-top: 50%;
    display: block;
    list-style-type: none;
}

.arrow {
    line-height: .80;
}

.arr1 {
    animation: 1.5s lightUpFast infinite;
}

.arr2 {
    animation: 1.5s lightUp infinite;
}

.arr3 {
    animation: 1.5s lightUpSlow infinite;
}